.navbar-brand{
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem !important;
  letter-spacing: 2px;
  transition: color 500ms ease-in-out;
}

.navbar-brand:hover {
  color: red !important;
}

.bg-cr {
    background-color: black !important;
}

/*
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

*/


.sectionHeader{
  text-align: center;
  color: white;
  font-size: 7rem;
  font-family: 'Bebas Neue', cursive;
}

.redText{
  color: red;
}

html {
	scroll-behavior: smooth;
}

.myPara{
  background-image: url("../img/trik1para.jpg");
  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.myPara2{
  background-image: url("../img/ant.jpg");
  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.shadow{
  background-color: white;
  opacity: .6;
  z-index: 0;
}

.shadow:hover {
  z-index: 0;
  opacity: 0.9;
}


body{
  background-color: black !important;
  color: white !important;
}


.black-text{
  color: black;
}


.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
