/* NAVBAR */
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar-brand{
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem !important;
  letter-spacing: 2px;
  transition: color 500ms ease-in-out;
}

.navbar-brand:hover {
  color: red !important;
}

.bg-cr {
    background-color: black !important;
}


/* CHANGE CAROUSEL ARROW COLOR
.carousel-control-next-icon,
<div class="blend">
.carousel-control-prev-icon
  filter: invert(1);
}

*/

/* TITLE */
.sectionHeader{
  text-align: center;
  color: white;
  font-size: 7rem;
  font-family: 'Bebas Neue', cursive;
}


/* FUNCTIONALITY */
html {
	scroll-behavior: smooth;
}

body{
  background-color: black !important;
  color: white !important;
}

.black-text{
  color: black;
}

.redText{
  color: red;
}

@media (min-width: 992px) {
  .container-scroll > .row > .col-lg-4 {
    float: none;
  }
}


/* PARALAX PICS */

.paraTrik{
  background-image: url("../img/paralax/paraTrik.jpg");
  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.paraRijeka{
  background-image: url("../img/paralax/paraRijeka.jpg");
  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.paraEkipa{

  background-image: url("../img/paralax/paraEkipa.jpg");
  height: 600px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


/* MEMBERS STUFF */

.about{
  font-family: 'Nunito Sans', sans-serif;
}

.member{
margin-bottom: 20px;
}

.op{
  opacity: .3;
}


/* LOGIN STUFF */
.slim{
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
}


.indent{
  text-align: center;
  padding: 20px;
}

span.sqr{
  padding: 10px;
  background-color: #ff030e;
  border-radius: 25%;
}


input[type='text']{
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 10px;
  padding: 5px;
  margin: 30px 0px 30px 5px;
  font-size: 2rem;
  border: solid black 2px;
}

input[type='text']:focus{
-webkit-box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
-moz-box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
font-size: 2rem;
border: solid black 2px;
background-color: #d4e3ff;

}

input[type='password']{
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 10px;
  padding: 5px;
  margin: 30px 0px 30px 5px;
  font-size: 2rem;
  border: solid black 2px;
}


input[type='password']:focus{
  -webkit-box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
  box-shadow: 3px 4px 21px -10px rgba(0,0,0,0.55);
  font-size: 2rem;
  border: solid black 2px;
  background-color: #d4e3ff;
}


span.sqrg{
  padding: 10px;
  background-color: gray;
  border-radius: 25%;
}

.pwDisable{
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.pwDisable:focus{
  background-color: red;
}


.spacing{
  margin: 50px 0px;
}

.round {
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 200px;
  border: solid black 10px;
  border-radius: 50%;
  position: relative;
  top: 20px;

}

/* ADD TRACK */

.whitebg{
  background-color: white !important;
  color: black;
}

.formError{
  position: relative;
  bottom: 20px;
  color: red;
}



/*  ROUTES  */

.blackbg{
  padding: 5px;
  margin-top: 10px;
  border: solid white 1px !important;
  border-radius: 5px !important;
  background-color: black !important;
}


.opaque{
  opacity: 0.9;
}

.opaque:hover{
  opacity: 1;
}

.trackTitle{
font-family: 'Nunito Sans', sans-serif;
font-size: 2.2rem;
}

.desc{
  font-size: small;
}
